body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(rgba(199, 13, 41, 0.884), rgba(133, 9, 0, 0.979)),
    url("fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: Arial, sans-serif;
}

.titulo h1 {
  font-family: "Sunday Midnight", cursive;
  color: #55130b;
  margin: 0;
  line-height: 2;
}

.titulo h1:first-child {
  font-size: 22px;
}

.titulo h1:last-child {
  font-size: 30px;
}

p {
  font-family: "Simple Handmade", "Manuscrito";
  font-size: 20px;
  margin: 10px 0;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  max-width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: #aa0d25;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

button:hover {
  background-color: #55130b;
}

button:active {
  transform: scale(0.95);
}

